@model PizzaApp.Models.PizzaOrderingDTO
@{
    ViewBag.Title = "PizzaOrdering";
}

<h2>Pizza rendelés</h2>

@using (Html.BeginForm("Order", "Ordering"))
{
    <div>
        @Html.LabelFor(x => x.Guest.Name)
        @Html.TextBoxFor(x => x.Guest.Name, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(x => x.Guest.PhoneNumber)
        @Html.TextBoxFor(x => x.Guest.PhoneNumber, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(x => x.Addresses)
        @Html.DropDownListFor(a => a.Order.Address, new SelectList(Model.Addresses, "GuestAddress", "GuestAddress"), new { @class = "form-control" })
    </div>
    <br />
    <br />
    @Html.AntiForgeryToken()
    <div class="text-center p-4">
        <button type="submit" class="btn btn-primary">Rendelés leadása</button>
    </div>
}

 