@model IEnumerable<PizzaApp.Models.OrderedPizzas>

@{
    ViewBag.Title = "ShowPizzas";
}

<h2>ShowPizzas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PizzaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count) DB
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) Ft
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Vissza az aktív rendeléskhez", "ActiveOrders")
</p>
